doctype html
html(lang="en")
  head
    title The Chatroom
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .github-ribbon.
      <a href="https://github.com/bhague1281/socket_chat" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
    .container
      h1 The Chatroom
      .row
        form.col.s12(action="")
          .row
            .input-field.col.s12
              input.validate#m(autocomplete="off" type="text")
              button.waves-effect.waves-light.btn(type="submit") Send
      .row
        ul#messages.collection

    script(src="/socket.io/socket.io.js" type="text/javascript")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" type="text/javascript")
    script(src="/js/chat.js" type="text/javascript")